<div class="wrapper profile-settings-wrapper">
  <div class="background"></div>

  <div class="navbar-wrapper">
    <app-navbar></app-navbar>
  </div>

  <div class="profile-settings-container">
    <div class="card settings-container">

      <div class="profile-image-container">
        <div class="profile-image" style="background-image:url('../../../../assets/images/profile-images/profile-image.png')"></div>
      </div>

      <div class="profile-data-container">
        <div class="profile-data-heading">

          <div class="profile-data-row">
            <input class="name-input" type="text" placeholder="Your name">
            <button><mat-icon>edit</mat-icon></button>
            <!--<button><mat-icon>done</mat-icon></button>-->
          </div>

          <div class="profile-data-row">
            <input class="username-input" type="text" placeholder="Your username">
            <button><mat-icon>edit</mat-icon></button>
            <!--<button><mat-icon>done</mat-icon></button>-->
          </div>

        </div>
        <div class="profile-data-body">

          <div class="profile-data-body-row">
            <label>E-mail address:&nbsp;</label>
            <div class="profile-body-input">
              <input type="text" placeholder="E-mail address">
              <button><mat-icon>edit</mat-icon></button>
              <!--<button><mat-icon>done</mat-icon></button>-->
            </div>
          </div>

          <div class="profile-data-body-row">
            <label>Phone number:</label>
            <div class="profile-body-input">
              <input type="text" placeholder="Phone number">
              <button><mat-icon>edit</mat-icon></button>
              <!--<button><mat-icon>done</mat-icon></button>-->
            </div>
          </div>

        </div>

        <div class="profile-data-footer">
          <button>Delete account</button>
        </div>
      </div>

    </div>
  </div>

  <div class="social-wrapper">
    <app-social></app-social>
  </div>

  <div class="footer-wrapper">
    <app-footer></app-footer>
  </div>
</div>
